.cart-icon{
   position: fixed;
   z-index: 1000;
   transition: right 1000ms ease-in-out;

}
.cart-scrolled-50{
   right: -4000px;
}
.cart-scrolled-80{
   top: 18px;
   right: 40px;
}

.cart-not-scrolled{
    top: 53px;
    right: 40px;
}

.goToTop{
   position: sticky;
   bottom: 100px;
   left: 95%;
   background: white;
   font-size: 40px;
   padding: 10px;
   z-index: 9999;
   display: inline;
}