.cart-icon{
   position: fixed;
   z-index: 1000;
   transition: right 1000ms ease-in-out;

}
.cart-scrolled-50{
   top: 15px;
   right: -4000px;
}
.cart-scrolled-80{
   top: 15px;
   right: 40px;
}

.cart-not-scrolled{
    top: 40px;
    right: 40px;
}