.dialogue {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  height: 80%;
  width: 1000px;
}



.dialogue::backdrop{
    background-color: rgba(0, 0, 0, 0.664)
}

.modal-img {
  width: ;
  height: 400px !important;
}
